body {
    background-image: url('../assets/explore.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.card-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    
}

.book-card {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 15px;
    border-radius: 10px;
    width: 280px; 
    margin-right: 15px; 
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out; 
    min-width: 300px; 
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.book-card:hover {
    transform: scale(1.05); 
}

.book-image {
    width: 250px;       
    height: 400px;      
    object-fit: cover;   
    object-position: center;  
    border-radius: 8px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.book-info {
    margin-top: 10px;
    color: white;
}

.book-info h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.notes {
    font-size: 0.9rem;
    text-align: right;
    color: lightgray;
}
